.game-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: calc(100vw * 9 / 16);
    max-height: 75vh;
    max-width: calc(75vh * 16 / 9);
    transform: translate(-50%, -50%);
}